body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: visible;
}

ul,li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

li{
    display: inline;
}

.inner{
    width: 100%;
    margin: 0px auto;
}

/* 控制页面全局宽度 */
.wrapper{
    width: 1100px;
    margin: 0px auto;
}

.cont-header{
    height: 500px;
    width: 100%;
    background: url(../img/letter.jpg) no-repeat;
    background-position: center;
    opacity: 90%;
    background-size: cover;
    padding-top: 28px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
    margin: 0px auto;
    background-color: white;
}

.header-nav{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 150px;
    margin-bottom: 0px;
}

.header-nav ul{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header-nav li{
    display: block;
    width: 95px;
    height: 100%;
    margin-left: 50px;
    font-family: "Object Sans Medium","Manrope Medium",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji";
    font-size: 18px;
    letter-spacing: 0.0875rem;
}
.nav-item a{
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 0px;
    padding-right: 0px;
    color: #1C5065;
    font-size: 17px;
}

.nav-item a:hover{
    background-color: rgba(28,80,101,0.9);
    opacity: 95%;
    color: white;
}

.contact-1{
    width: 100%;
    height: 226px;
    background-image: url(../img/zixingche.jpg);
    background-attachment: fixed;
    opacity:20%;
    position: absolute;
}

table{
    position: absolute;
    top: 472px;
    left: 420px;
    width: 700px;
    height: 200px;
    border-collapse: collapse;
    font-family: "Object Sans Medium","Manrope Medium",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji";
    font-size: 15.5px;
    letter-spacing: 0.5px;
    line-height: 28px;
    color: rgba(28,80,101);  
}

table td{
    padding: 13px 40px;
    height: 30px;
}

table tr td:first-child{
    border-right:1px solid #cad9ea;
    border-bottom: 1px solid #cad9ea;
}

table tr td:last-child{
    border-bottom: 1px solid #cad9ea;
}

table tr:first-child td:first-child{
    border-top-left-radius: 5px;
}

table tr:first-child td:last-child{
    border-top-right-radius: 5px;
}

table tr:last-child td:first-child{
    border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child{
    border-bottom-right-radius: 5px;
} 

table tr:nth-child(odd)
{
    background: rgba(255,255,255,0.2);
}

table tr:nth-child(even)
{
    background:rgba(28,80,101,0.1);
}
